body{
    background-color: lavender;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#header{
    border-style: outset;
    background-color: paleturquoise;
    text-align: center;
    padding: 2%;
}

#inner2{
    
    background-color: skyblue;
    padding: 5%;
}

#categories{
    border-style: groove;
    margin: 5%;
}

#subparameter{
  background-color: paleturquoise;
  padding: 3%;
  border-radius: 20px;
}

#map {
  border: thin solid black;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 400px; 
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  width: 400px;
  height: 30px;
  margin: auto;
  display: block;
}
